<hr class="footerSep">
<footer class="text-muted containerP">
    <div class="flexFoot">
    <div>
        <ul class="navbar-nav flexOpciones">
        <li class="nav-item mx-2">
            <a class="nav-link ArregloFoot" href="#">Terminos y condiciones</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link ArregloFoot" href="#">Politica de tratamiento de datos</a>
        </li>
        <li class="nav-item mx-2">
            <a class="nav-link ArregloFoot" href="#">Contactenos</a>
        </li>
        </ul>
    </div>
    <div class="flexOpciones">
        <p class="navbar-brand ArregloFoot mx-2">Siguenos</p>
        <img class="navbar-brand mx-2" src="../assets/img/facebook.png" width="25px" height="35px">
        <img class="navbar-brand mx-2" src="../assets/img/twitter.png" width="25px" height="35px">
    </div>
    </div>
</footer>