.flexFoot{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flexOpciones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.ArregloFoot{
    font-size: small;
    font-weight: 600;
    color: rgb(67, 67, 67);
    font-family: 'Roboto';
}

.footerSep{
    color: black;
    height: 0px;
    border: 1px dashed white;
}
